/* In this file you can find the styling of the object on the contactform page.*/
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Error styling */
.is-invalid {
    border: 1px solid #dc3545; /* Rode rand voor ongeldige elementen */
}

.is-valid {
    border: 1px solid #28a745; /* Groene rand voor geldige elementen */
}