/* In this file you can find the styling of the object on the profile page.*/
.personalia__picture {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 15px;
}

.personalia {
    padding-left:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: lightseagreen;
}

.profile {
    margin-top: 25px;
    width: 100%;
}

/* Styling for desktop. 768px) */
@media (min-width: 768px) {

    .page {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .personalia {
        width: 30%;
        background-color: lightseagreen;
        height: 100vh
    }

    .personalia__picture {
        margin-top: 25px;
    }

    .profile {
        width: 70%;
        margin-left: 50px;
        margin-top: 25px;
    }
}
