@{
    ViewBag.Title = "Boter Kaas en Eieren";
}
<body>
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/site.css" />

    <div id="gameBoard"></div>
    <button id="startGameButton">Start Game</button>
    <button id="restartGameButton" style="display: none;">Restart Game</button>
    <div id="notifications"></div>


    <script type="module" src="/js/board.js"></script>
    <script type="module" src="/js/game.js"></script>
    <script src="/lib/microsoft-signalr/signalr.js"></script>

</body>
