@{
    ViewBag.Title = "Boter Kaas en Eieren";
}
<body>
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/site.css" />

    <div id="gameboard" class="gameboard">
    </div>
    <script type="module" src="/js/board.js"></script>
    <script type="module" src="/js/game.js"></script>
    <script src="/lib/microsoft-signalr/signalr.js"></script>

</body>
