@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Activeer uw account";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Momenteel kunt uw via onderstaande knop uw e-mail valideren!
    Normaal zou u dit via de e-mail ontvangen: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klik hier om uw account te activeren.</a>
</p>
    }
    else
    {
// <p>
//         Please check your email to confirm your account.
// </p>
    }
}

