@{
    ViewBag.Title = "Boter Kaas en Eieren";
}
<body>
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/site.css" />

    <div id="notifications"></div>

    <div id="gameBoard"></div>

    <button id="createGameButton">Nieuw spel</button>

    <div id="gameList">
        <h2>Beschikbare spellen</h2>
        <ul id="availableGames"></ul>
    </div>

    <button id="backToLobbyButton" style="display:none;">Spel verlaten</button>
    <button id="gameHistoryButton" style="display:none;">Spelhistorie</button>
    <ul id="gameHistoryList"></ul>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js" integrity="sha384-mU1xC5yC2LldSW74Rj1Ax8wPiLw/28V5eh51uKJMlBbRVsOtUYd4xyzNsgIAJARB" crossorigin="anonymous"></script>
    <script type="module" src="/js/game.js"></script>
</body>
