@{
    ViewBag.Title = "Boter Kaas en Eieren";
}
<body>
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/site.css" />

    <div id="notifications"></div>

    <div id="gameBoard"></div>

    <button id="createGameButton">Aanmaken spel</button>

    <div id="gameList">
        <h2>Beschikbare spellen</h2>
        <ul id="availableGames"></ul>
    </div>

    <button id="backToLobbyButton" style="display:none;">Terug naar lobby</button>
    <button id="gameHistoryButton" style="display:none;">Spelhistorie</button>
    <ul id="gameHistoryList"></ul>


    <script src="/lib/microsoft-signalr/signalr.js"></script>
    <script type="module" src="/js/game.js"></script>
</body>
