@{
    ViewBag.Title = "Boter Kaas en Eieren";
}
<body>
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/site.css" />

    <div id="gameBoard"></div>
    <button id="createGameButton">Create Game</button>
    <div id="notifications"></div>

    <script src="/lib/microsoft-signalr/signalr.js"></script>
    <script type="module" src="/js/game.js"></script>
</body>
