@{
    ViewData["Title"] = "Contact";
    var contactName = ViewBag.ContactPerson;
    var success = ViewData["success"];
}
@model MailRequest;
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options;
@using Showcase.Properties;
@inject IOptions<GoogleCaptchaConfig> GoogleCaptchaConfig

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script>

    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/contact.css">

</head>

<body>

    @if (true.Equals(success))
    {
        <div class="alert alert-success" role="alert">
            Het bericht is succesvol verzonden!
        </div>
        <script>
            console.log('Success is true!');
        </script>
    }

    <div class="page">
        <section class="contact">
            <div class="container">
                <h2>Contactformulier @contactName</h2>
                <form id="contactForm" asp-action="SendMail" asp-controller="Mail" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label asp-for="FirstName">Voornaam:</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName">Achternaam:</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Subject">Onderwerp:</label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FromEmail">E-mail:</label>
                        <input asp-for="FromEmail" class="form-control" />
                        <span asp-validation-for="FromEmail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Mobile">Mobiel:</label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Body">Bericht:</label>
                        <textarea asp-for="Body" class="form-control"></textarea>
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary" type="submit">Verzenden</button>
                </form>
            </div>
        </section>
    </div>

    <script type="text/javascript" src="/js/check-form.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/recaptcha.js"></script>
    <script type="text/javascript" src="~/js/send-form.js"></script>
</body>

