@{
    ViewData["Title"] = "Profile";
}
<head>
    <link rel="stylesheet" href="~/css/profile.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
<div class="page">
    <section class="personalia">
        <div class="personalia__picture">
             <h1>Geert-Jan Verkuil</h1>
            <img src="~/images/Geert-Jan.jpg"/>
        </div>
        <div class="personalia__items">
            <h2>Persoonlijke gegevens</h2>
            <ul>
                <li>Geboortedatum: 14-04-2003</li>
                <li>Adres: Talmastraat 34, 3864DE</li>
                <li>E-mail: geertjanverkuil@gmail.com</li>
                <li>Mobiel: +31 6 45289517</li>
            </ul>
        </div>

        <div class="personalia__items">
            <h2>Skills</h2>
            <ul>
                <li>Oplossingsgericht</li>
                <li>Flexibel</li>
                <li>Communicatief vaardig</li>
                <li>Samenwerken</li>
                <li>Leergierig</li>
            </ul>
        </div>
    </section>

    <section class="profile">
        <section class="profile-items">
            <h4>Over Geert-Jan</h4>
            <p>
                    Ik ben Geert-Jan Verkuil, en ik ben opgegroeid met een passie voor leren en groeien. Mijn educatieve reis begon op de HAVO Economie & Maatschappij aan het Van Lodenstein College, waar ik mijn basis heb gelegd in economie en maatschappelijke studies. Mijn toewijding resulteerde in het succesvol afronden van deze opleiding in juni 2019.

                    Na mijn HAVO-afstuderen ging ik een nieuwe uitdaging aan aan de Hogeschool Windesheim, waar ik begon aan de opleiding Business IT & Management in september 2019. Hoewel ik deze opleiding nog niet heb afgerond, ben ik vastberaden om mijn kennis en vaardigheden op het gebied van informatietechnologie en bedrijfsmanagement verder te ontwikkelen.

                    In mijn professionele leven ben ik werkzaam als Developer bij Embite sinds september 2019, waar ik actief ben in het creëren en ontwikkelen van softwareoplossingen. Mijn toewijding aan dit vakgebied is duidelijk zichtbaar in mijn lopende dienstverband.

                    Daarnaast ben ik trots op mijn tijd als Algemeen Magazijnmedewerker bij Ebo van den Bor B.V., waar ik verantwoordelijk was voor diverse magazijntaken. Deze ervaring heeft me geleerd hoe belangrijk organisatie en efficiëntie zijn in elke rol.

                    Buiten mijn professionele bezigheden, ben ik geïnteresseerd in de specialisatie Business IT & Management en geniet ik van mijn vrije tijd door te gamen. Ik ben vastbesloten om te blijven groeien en mijn doelen te bereiken, zowel in mijn carrière als in mijn persoonlijke leven.

                    En ja, ik droom ervan om op een dag een miljonair te worden, maar tot die tijd werk ik hard en blijf ik mijn passies volgen.
            </p>

            <h4>Opleidingen</h4>
            <ul>
                <li class="profile-items__item">
                    <h6>HAVO Economie & Maatschappij</h6>
                    <p>
                        Organisatie: Van Lodenstein College<br>
                        Begindatum: September 2014<br>
                        Einddatum: Juni 2019<br>
                        Afgerond: Ja
                    </p>
                </li>
                <li class="profile-items__item">
                    <h6>Business IT & Management</h6>
                    <p>
                        Organisatie: Hogeschool Windesheim<br>
                        Begindatum: September 2019<br>
                        Einddatum: Juni 2024<br>
                        Afgerond: Nee
                    </p>
                </li>
            </ul>

            <h3>Werkervaring</h3>
            <ul>
                <li class="profile-items__item">
                    <h6>Developer</h6>
                    <p>
                        Bedrijf: Embite <br>
                        Startdatum: 1-9-2019<br>
                        Eindatum: Huidig
                    </p>
                </li>
                <li class="profile-items__item">
                    <h6>Algemeen Magazijnmedewerker</h6>
                    <p>
                        Bedrijf: Ebo van den Bor B.V.<br>
                        Startdatum: 1-9-2019<br>
                        Eindatum: 1-1-2020
                    </p>
                </li>
            </ul>
        </section>
    </section>
</div>
</body>
