<configuration>
	<system.web>
		<globalization
		  requestEncoding="utf-8"
		  responseEncoding="utf-8"
		  fileEncoding="utf-8" />
	</system.web>

	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>