@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h2>Geregistreerde Gebruikers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Gebruikersnaam</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>