@{
    ViewData["Title"] = "Home Page";
}
<div class="page">
    <div class="text-center">
        <h1 class="display-4">Welkom bij de startpagina van de Showcase van Geert-Jan Verkuil S1145970</h1>
    </div>
</div>
